<!-- main app container -->
<div class="container">
  <div class="card m-3">
    <h5 class="card-header">Registration Form</h5>
    <div class="card-body">
      <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Name</label>
          <!--          firstName-->
          <div class="row">
            <div class="col-6 form-group">
              <input type="text" class="form-control" formControlName="firstName"
                     [ngClass]="{'is-invalid':firstName.invalid && (firstName.touched || firstName.dirty),'is-valid':firstName.valid}">
              <small>First Name</small>
              <div style="color: red" role="alert"
                   *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)">
                <small *ngIf="firstName.errors.required" class="m-0">First name is required</small>
                <small *ngIf="firstName.errors.maxlength" class="m-0">First Name can be max 32 characters </small>
              </div>
            </div>
            <!--            last Name-->
            <div class="col-6 form-group">
              <input type="text" class="form-control" formControlName="lastName"
                     [ngClass]="{'is-invalid':lastName.invalid && (lastName.touched || lastName.dirty),'is-valid':lastName.valid}">
              <small>Last Name</small>
              <div style="color: red" role="alert"
                   *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)">
                <small *ngIf="lastName.errors.required" class="m-0">Last name is required</small>
                <small *ngIf="lastName.errors.maxlength" class="m-0">Last Name can be max 32 characters </small>
              </div>
            </div>
            <!--            email-->
            <div class="col-6 mt-4 form-group">
              <label>E-mail</label>
              <input type="email" class="form-control" placeholder="ex: myname@exmaple.com" formControlName="email"
                     [ngClass]="{'is-invalid':email.invalid && (email.touched || email.dirty),'is-valid':email.valid}">
              <div style="color: red" role="alert"
                   *ngIf="email.invalid && (email.touched || email.dirty)">
                <small *ngIf="email.errors.required" class="m-0">Email is required</small>
                <small *ngIf="email.errors.email" class="m-0">Email must be a valid email address </small>
              </div>
            </div>
            <!--            Empty-->
            <div class="col-6 mt-4 form-group">
            </div>
            <div class="col-6 mt-4 form-group">
              <label>Phone Number</label>
              <div class="row">
                <!--                Area Code-->
                <div class="col-5 form-group">
                  <input type="text" class="form-control" formControlName="AreaCode"
                         [ngClass]="{'is-invalid':areaCode.invalid && (areaCode.touched || areaCode.dirty),'is-valid':areaCode.valid}">
                  <small>Area Code</small>
                  <div style="color: red" role="alert"
                       *ngIf="areaCode.invalid && (areaCode.touched || areaCode.dirty)">
                    <small *ngIf="areaCode.errors.required" class="m-0">Area Code is required</small>
                    <small *ngIf="areaCode.errors.pattern" class="m-0">Please Input Valid Number </small>
                  </div>
                </div>
                <!--        Phone Number-->
                <div class="col-7 form-group">
                  <input type="email" class="form-control" formControlName="PhoneNumber"
                         [ngClass]="{'is-invalid':phoneNumber.invalid && (phoneNumber.touched || phoneNumber.dirty),'is-valid':phoneNumber.valid}">
                  <small>Phone Number</small>
                  <div style="color: red" role="alert"
                       *ngIf="phoneNumber.invalid && (phoneNumber.touched || phoneNumber.dirty)">
                    <small *ngIf="phoneNumber.errors.required" class="m-0">PhoneNumber is required</small>
                    <small *ngIf="phoneNumber.errors.pattern" class="m-0">Please Input Valid Number </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-6">
            </div>
            <!--            Password-->
            <div class="col-6 form-group">
              <input type="password" class="form-control" formControlName="password"
                     [ngClass]="{'is-invalid':password.invalid && (password.touched || password.dirty),'is-valid':password.valid}">
              <small>Password</small>
              <div style="color: red" role="alert"
                   *ngIf="password.invalid && (password.touched || password.dirty)">
                <small *ngIf="password.errors.required" class="m-0">Password is required</small>
                <small *ngIf="password.errors.minlength" class="m-0">Password must be at least 8 characters</small>
                <small *ngIf="password.errors.maxlength" class="m-0">Password can be max 128 characters</small>
              </div>
            </div>
            <!--            ConfirmPassword-->
            <div class="col-6 form-group">
              <input type="password" class="form-control" formControlName="confirmPass"
                     [ngClass]="{'is-invalid':confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty),'is-valid':confirmPassword.valid}">
              <small>Confirm Password</small>
              <div style="color: red" role="alert"
                   *ngIf="confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty)">
                <small *ngIf="confirmPassword.errors.required" class="m-0">Confirm Password is required</small>
                <small *ngIf="confirmPassword.errors.mustMatch" class="m-0">Passwords must match</small>
              </div>
            </div>
            <!--            Address-->
            <div class="form-group col-12 mt-4">
              <label>Address:</label>
              <input type="text" class="form-control" formControlName="address"
                     [ngClass]="{'is-invalid':address.invalid && (address.touched || address.dirty),'is-valid':address.valid}">
              <small>Street Address</small>
              <div style="color: red" role="alert"
                   *ngIf="address.invalid && (address.touched || address.dirty)">
                <small *ngIf="address.errors.required" class="m-0">Address is required</small>
              </div>
            </div>
            <!--            Address Line 2-->
            <div class="form-group col-12">
              <input type="text" class="form-control" formControlName="addressline2">
              <small>Street Address line 2</small>
            </div>
            <!--        City-->
            <div class="col-6 form-group">
              <input type="text" class="form-control" formControlName="city"
                     [ngClass]="{'is-invalid':city.invalid && (city.touched || city.dirty),'is-valid':city.valid}">
              <small>City Name</small>
              <div style="color: red" role="alert"
                   *ngIf="city.invalid && (city.touched || city.dirty)">
                <small *ngIf="city.errors.required" class="m-0">City is required</small>
              </div>
            </div>
            <!--            State/Province-->
            <div class="col-6 form-group">
              <input type="text" class="form-control" formControlName="state"
                     [ngClass]="{'is-invalid':state.invalid && (state.touched || state.dirty),'is-valid':state.valid}">
              <small>State/Province</small>
              <div style="color: red" role="alert"
                   *ngIf="state.invalid && (state.touched || state.dirty)">
                <small *ngIf="state.errors.required" class="m-0">State or Province is required</small>
              </div>
            </div>
            <!--          PostalCode-->
            <div class="col-6 form-group">
              <input type="text" class="form-control" formControlName="zipCode"
                     [ngClass]="{'is-invalid':zipCode.invalid && (zipCode.touched || zipCode.dirty),'is-valid':zipCode.valid}">
              <small>Postal/Zip Code</small>
              <div style="color: red" role="alert"
                   *ngIf="zipCode.invalid && (zipCode.touched || zipCode.dirty)">
                <small *ngIf="zipCode.errors.required" class="m-0">Zip Code is required</small>
                <small *ngIf="zipCode.errors.pattern" class="m-0">Zip Code must be number </small>
              </div>
            </div>
            <!--            Country-->
            <div class="col-6 form-group">
              <select class="custom-select" formControlName="country"
                      [ngClass]="{'is-invalid':country.invalid && (country.touched || country.dirty),'is-valid':country.valid}">
                <option selected></option>
                <option value="Thai">Thai</option>
                <option value="Cambodia">Cambodia</option>
                <option value="Vietnam">Vietnam</option>
              </select>
              <small>Country</small>
              <div style="color: red" role="alert"
                   *ngIf="country.invalid && (country.touched || country.dirty)">
                <small *ngIf="country.errors.required" class="m-0">Country is required</small>
              </div>
            </div>
            <!--            Birth data-->
            <div class="form-group col-12 mt-4">
              <label>Birth Date</label>
              <div class="row">
                <!--                month-->
                <div class="col-4">
                  <select class="custom-select" formControlName="month"
                          [ngClass]="{'is-invalid':month.invalid && (month.touched || month.dirty),'is-valid':month.valid}">
                    <option selected></option>
                    <option *ngFor="let month of months " [value]="month">{{month}}</option>
                  </select>
                  <small>Month</small>
                  <div style="color: red" role="alert"
                       *ngIf="month.invalid && (month.touched || month.dirty)">
                    <small *ngIf="month.errors.required" class="m-0">Month is required</small>
                  </div>
                </div>
                <!--                Day-->
                <div class="col-4">
                  <select class="custom-select" formControlName="day"
                          [ngClass]="{'is-invalid':day.invalid && (day.touched || day.dirty),'is-valid':day.valid}">
                    <option selected></option>
                    <option *ngFor="let day of days " [value]="day">{{day}}</option>
                  </select>
                  <small>Day</small>
                  <div style="color: red" role="alert"
                       *ngIf="day.invalid && (day.touched || day.dirty)">
                    <small *ngIf="day.errors.required" class="m-0">Day is required</small>
                  </div>
                </div>
                <div class="col-4">
                  <select class="custom-select" formControlName="year"
                          [ngClass]="{'is-invalid':year.invalid && (year.touched || year.dirty),'is-valid':year.valid}">
                    <option selected></option>
                    <option *ngFor="let year of years " [value]="year">{{year}}</option>
                  </select>
                  <small>Years</small>
                  <div style="color: red" role="alert"
                       *ngIf="year.invalid && (year.touched || year.dirty)">
                    <small *ngIf="year.errors.required" class="m-0">Years is required</small>
                  </div>
                </div>
              </div>

            </div>
            <!--          checkbox-->
            <div class="form-group col-6">
              <label>Where did you hear about us?</label>
              <div class="form-check ">
                <div *ngFor="let data of Data; let i=index">
                  <label>
                    <input class="form-check-input" type="checkbox" [value]="data.value"
                           (change)="onCheckboxChange($event)"/>
                    {{data.name}}
                  </label>
                </div>
                <div style="color: red" role="alert"
                     *ngIf="this.formRegister.controls['groupCheckBox'].invalid">
                  <small *ngIf="this.formRegister.controls['groupCheckBox'].errors.required" class="m-0"> Checkbox is
                    required, select atleast one
                    value</small>
                </div>

              </div>
            </div>

          </div>
        </div>

        <h4>Membership Rule</h4>
        <hr>
        <div>
          <p>1 Membership is available to anyone 18 years of age older</p>
          <p>2 You promise NOT to use to conduct ang fraudulent or business activity or hove more then one Member
            Account at any time</p>
        </div>
        <!--        MemberShip Checkbox-->
        <div class="form-check mt-4">
          <input class="form-check-input" type="checkbox" value="option1" formControlName="memberShip"
                 [ngClass]="{'is-invalid':submitted && memberShip.errors}">
          <label class="form-check-label">I have read ,understood ,and accepted the rule for membership.</label>
        </div>
        <hr>
        <h4>Privacy Policy</h4>
        <hr>
        <p>Please reach out and read our Privacy Policy in order to understand how your information is used and shared
          ,and check
          below if you accept the policy</p>
        <div class="form-check mt-4">
          <input class="form-check-input" type="checkbox" value="option1" formControlName="policy"
                 [ngClass]="{'is-invalid':submitted && policy.errors}">
          <label class="form-check-label"> I have read,understood and accepted PRIVACY POLICY for membership</label>
        </div>
        <div class="text-center mt-4">
          <p class="">Once you submit your application, we will contact you shorty to complete your membership
            Application </p>
          <p>Thank You</p>
          <hr>
          <button type="submit" class="btn btn-success mt-4" [disabled]="!formRegister.valid">Submit Application</button>
        </div>
      </form>
    </div>
  </div>
</div>

